{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock project</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.webp' %}" />
</head>
<body>
    <h1>8bit Backend Mock Project</h1>

    {% for show in shows %}
        <div>
            <h2>{{ show.name }}</h2>
            <p>{{ show.short_description }}</p>
            {% for miscImage in show.images.all %}
                <img src="{{ miscImage.image.url }}" />
            {% endfor %}
        </div>
    {% endfor %}
    
</body>
</html>